<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>SpringMVC</title>
    <link href="../static/css/libs/bootstrap.css"
            th:href="@{/css/libs/bootstrap.css}"
            rel="stylesheet" media="screen" />

    <script src="../static/js/jquery.js"
            th:src="@{/js/jquery.js}"></script>
    <link href="../static/css/spring-core.css"
            th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
<p>This is an MVC project</p>
</body>
</html>